<h1>Add a definition:</h1>
<div class="row">
  <% @word.definition().each() do |definition| %>
    <h4> : <i><%= definition.add_definition() %></i></h4>
  <% end %>
</div>
<form action="/word/ <%= @word.id() %>" method="post">
  <div class="form-group">
    <label for="definition-add">Type Your Definition Here:</label>
    <input id="definition-add" name="definition-add" type="text" class="form-control">
  <button type="submit" class="btn bg-primary">Add Definition</button>
  </div>
</form>
