<h1>Add a Word:</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word-add">Type Your Word Here:</label>
    <input id="word-add" name="word-add" type="text" class="form-control">
  <button type="submit" class="btn bg-primary">Add Word</button>
  </div>
</form>
